.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px; /* Añadido padding para mejor separación en pantallas pequeñas */
}

.app-header {
  background-color: #0070f3;
  color: white;
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-bar {
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Para centrar los enlaces */
  flex-wrap: wrap; /* Hace que los enlaces se envuelvan en filas si es necesario */
}

.nav-bar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

.nav-bar a:hover {
  color: #005bb5;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .App {
    max-width: 90%; /* Reducir el ancho en pantallas más pequeñas */
  }

  .nav-bar {
    justify-content: space-around; /* Ajustar los enlaces de navegación */
  }

  .app-header {
    padding: 15px; /* Reducir el padding en pantallas más pequeñas */
  }
}

@media (max-width: 480px) {
  .nav-bar a {
    margin: 0 10px; /* Reducir el margen entre enlaces */
  }

  .app-header {
    padding: 10px; /* Ajustar el padding en pantallas más pequeñas */
  }
}
